@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo - At the LOGO you must change it to FLEX style */

h1,
h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links* --- check why active is not font coloured!!! and change float to Flex styling */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #034ea2;
}

#menu a:active {
    color: #034ea2;
}

#menu a:active {
    color: #034ea2;
}

/* hero image style */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/45914.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

