@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h2, h1 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

h3 {
    color: #252525;
    letter-spacing: 2px;
    font-family: Ubuntu, sans-serif;
}

/* Navigation using FLEXBOX */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;

    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200;
}

.logo {
    margin: 0 0 0 .45em;
    color: #333333;
    font-size: 280%;
}

#logo {
    text-decoration: none;
}

.logo a {
    color: #333333;
}

.logo,
.menu {
    list-style: none;
    text-transform: uppercase;
}

.logo a,
.menu a {
    text-decoration: none;
    letter-spacing: .45rem;
}

.menu {
    display: flex;
}

.menu a {
    display: block;
    padding: 1em;
    color: #333333;
}

.menu a:hover {
    color: #034ea2;
}

/* Responsive layout for header - tablets */
@media all and (max-width: 990px) {
    .nav-container {
        flex-direction: column;
    }
    
    .logo {
        margin: 0;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
    }
}

/* Responsive layout header - mobile devices */

@media all and (max-width: 600px) {
    .logo {
        margin: .25em 0;
        align-self: left;
    }

    .menu {
        flex-direction: column;
    }
}

/* header fixed to be on top of the page all the time */

#services, #about, #contact, #home {
    padding-top: 90px;
}


/* hero image */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.hero-image {
    background-image: url('../images/45914.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* transparent background for the text on hero image */
.transparent-bg {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px;
}

/* Services page - using flexbox */

.services-container-two {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
}

#services-top-right {
    margin-left: 3.5rem;
}

.services-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

.services-item-bottom {
    margin-bottom: 7%;
}

.services-item-top {
    margin-top: 7%;
}

.services-item-left {
    margin-left: 10%;
}

.services-item-right {
    margin-right: 10%;
}

/* Responsive layout for services page - tablets */
@media all and (max-width: 990px) {
    .services-container-two {
        flex-direction: column;
    }
}

/* Responsive layout services page - mobile devices */

@media all and (max-width: 600px) {
    .about-contaiener-two {
        flex-direction: column;
    }
}

/* About page -using FLEXBOX */

.about-container {
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.about-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

.about-item-bottom {
    margin-bottom: 7%;
}

.about-item-top {
    margin-top: 7%;
}

.about-item-left {
    margin-left: 10%;
}

.about-item-right {
    margin-left: 10%;
}

hr {
    padding: 8px;
}

p {
    letter-spacing: 1px;
}

/* Size of the image for CEO */

#size-ceo {
    width: 1500px;
    margin-right: 13%;
}

img {
    width: 100%;
    height: auto;
}

/* Responsive layout for about page - tablets */
@media all and (max-width: 990px) {
    .about-container {
        flex-direction: column;
    }

    #size-ceo {
        width: 100%;
        height: auto;
    }
}

/* Responsive layout about page - mobile devices */

@media all and (max-width: 600px) {
    .about.container {
        flex-direction: column;
    }
          #size-ceo {
              width: 100%;
              height: auto;
          }
}


/* Contact page - using FLEXBOX*/
.contact-container {
    background-color: white;
    padding-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

input[type=email] {
    width: 85%;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#button {
    background-color: #034ea2;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Responsive layout for contact page - tablets */
@media all and (max-width: 990px) {
    .contact-container {
        flex-direction: column;
    }
}

/* Responsive layout for contact page - mobile devices */

@media all and (max-width: 600px) {
    .contact-container {
        flex-direction: column;
    }
}

/* h1 and h3 pages inside pages for contact section, about and services */

.heading-pages {
    text-align: center;
    margin: 25px 0;
    font-size: 280%;
}

.category {
    margin-bottom: 1rem;
}

/* Footer */

.footer-container {
    background-color: #a6a8ab;
    width: 100%;
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-item {
    margin: 0.5rem;
}

.footer-links {
    display: flex;
}

.footer-links a {
    display: block;
    padding: 1em;
}

#legal {
    color: white;
}

#legal a:hover {
    color: #034ea2;
}

#rights-reserved {
    color: white;
    padding: 1em;
}

/* Thank you and legal page*/

.legal-text {
    background-color: #f0f0f0;
    padding: 40px;
}




