@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #252525;
    max-width: 1600px;
}

section {
    width: 100%;
}

/* headings and logo */
h2, h1 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

h3 {
    color: #252525;
    letter-spacing: 2px;
    font-family: Ubuntu, sans-serif;
}

/* Navigation using FLEXBOX and also style for fix navigation position on top of the page */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F4F4;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200;
    box-shadow: -1px 1px 5px -1px rgba(240, 240, 240, 0.89);
        -webkit-box-shadow: -1px 1px 5px -1px rgba(240, 240, 240, 0.89);
        -moz-box-shadow: -1px 1px 5px -1px rgba(240, 240, 240, 0.89);
}

#services,
#about,
#contact,
#home, #new-page {
    padding-top: 90px;
}

.logo {
    margin: 0 0 0 .45em;
    color: #252525;
    font-size: 280%;
}

#logo {
    text-decoration: none;
    padding-left: 5%;
}

.logo a {
    color: #333333;
}

.logo,
.menu {
    list-style: none;
    text-transform: uppercase;
}

.logo a,
.menu a {
    text-decoration: none;
    letter-spacing: .45rem;
}

html {
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    padding-right: 5%;
}

.menu a {
    display: block;
    padding: 1em;
    color: #333333;
}

.menu a:hover {
    color: #034ea2;
}

.menu a:active {
    color: #034ea2;
}

/* hero image */
.hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    background-image: url('../images/45914.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* transparent background for the text on hero image */
.transparent-bg {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px;
}

/* Services page - using flexbox */
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 7% 10%;
    background-color: #f3f3f3;
}

.services-container .services-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

/* About page -using FLEXBOX */
.about-container {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.about-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

.about-item-bottom {
    margin-bottom: 7%;
}

.about-item-top {
    margin-top: 7%;
}

.about-item-left {
    margin-left: 10%;
}

.about-item-right {
    margin-left: 10%;
}

hr {
    padding: 8px;
}

p {
    letter-spacing: 1px;
}

/* Size of the image for CEO */
#size-ceo {
    width: 1500px;
    height: auto;
    padding-right: 13%;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: top;
}

/* Google maps style*/
iframe {
    width: 100%;
}

/* Contact page - using FLEXBOX*/
.contact-container {
    background-color: white;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.contact-item {
    padding: 0.5rem;
    margin: 5px;
}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

input[type=email] {
    width: 85%;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f3f3f3;
    resize: none;
}

#button {
    background-color: #034ea2;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#button:hover {
    background-color: #7A94C4;
}

/* h1 and h3 pages inside pages for contact section, about and services */
.heading-pages {
    text-align: center;
    margin: 25px 0;
    font-size: 280%;
    color: #7A94C4;
}

.category {
    margin-bottom: 1rem;
    color: #0A4C9C;
}

/* Footer */
.footer-container {
    background-color: #333333;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    margin: 0.5rem;
}

.footer-links {
    display: flex;
    padding-right: 5%;
}

.footer-links a {
    display: block;
    padding: 1em;
}

#legal {
    color: white;
}

#ninaschulte {
    color: white;
}

#legal:hover {
    color: #034ea2;
}

#rights-reserved {
    color: white;
    padding: 1em;
    padding-left: 5%;
}

#rights-reserved a {
    color: white;
}

/* Thank you and legal page*/
.body-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-page .legal-text {
    background-color: #f3f3f3;
    padding: 7% 10%;
}

.main-page {
    flex: 1 0 auto;
}

/* Responsive layout for header - tablets */
@media all and (max-width: 990px) {
    .nav-container {
        flex-direction: column;
    }

    #services,
    #about,
    #contact,
    #home {
        padding-top: 140px;
    }

    .logo {
        margin: 0;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
    }
    
    .contact-container {
             flex-direction: column;
         }

    .about-container {
            flex-direction: column;
        }
    
    #size-ceo {
            width: 90%;
            height: auto;
        }
    
    .services-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
}

/* Responsive layout header - mobile devices */
@media all and (max-width: 600px) {
    .logo {
        margin: .25em 0;
        align-self: left;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-container {
            flex-direction: column;
    }
    
    .about.container {
            flex-direction: column;
    }
    
    #size-ceo {
            width: 90%;
            height: auto;
    }
    
    .services-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
    }

    #services,
    #about,
    #contact,
    #home {
            padding-top: 210px;
          }

    header {
        font-size: 65%;
    }
}



